*.out

*.gch

*.pyc
__pycache__/

build/
hilbert_maps/

*~
.DS_Store

.vscode

preprocessing/get_data_sample.py
preprocessing/test.ipynb

datasets/T1.csv
datasets/simple_T1.csv
datasets/T2.csv
datasets/sample_T1.csv
datasets/sample_multi_polys_T1.csv
datasets/sample_small_polys_T1.csv
datasets/sample_T1.csv
datasets/sample_simple_T1.csv
datasets/test.csv
tests/join_algos/build
tests/join_algos/*.txt
